.services {
  padding-top: 140px;
}

.section_title {
  &_label {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.2em;
    color: #949494;
    margin-bottom: 40px;
  }
  &_head {
    font-size: 30px;
    font-weight: 700;
  }
}

.serv_list {
  color: #949494;
  margin-top: 65px;
  &_item {
    margin-bottom: 20px;
  }
  &_left {
    margin-left: 30px;
  }
}
