[data-tab-content] {
  display: none;
}
.active[data-tab-content] {
  display: flex;
}
.activeTab[data-tab-target] {
  color: $txtClr;
  font-weight: 500;
  border-bottom: 1px solid $txtClr;
}

.works {
  margin: 200px 0;
}

.work_tabs {
  margin-left: 50px;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 70px;

  &_item {
    text-transform: uppercase;
    color: #8d8d8d;
    letter-spacing: 2px;
    text-align: center;
    &:hover {
      border-bottom: 1px solid #8d8d8d;
      cursor: pointer;
      color: #292626;
    }
  }
}

.works_wrap {
  flex-wrap: wrap;
  margin-top: 100px;
  &_item {
    margin-top: 50px;
    position: relative;
    & img {
      transition: all 0.5s ease;
      display: block;
      width: 300px;
      height: 400px;
    }
    &:hover img {
      box-shadow: -30px 80px 200px rgba(0, 0, 0, 0.2);
      transform: scale(0.98);
    }

    &:hover:after {
      visibility: visible;
      content: '';
      display: block;
      background: url('../img/play3.png') no-repeat;
      width: 65px;
      height: 65px;
      position: absolute;
      left: 50%;
      top: 50%;
      cursor: pointer;
      margin-left: -25px;
      margin-top: -25px;
      transition: all 0.5s ease;
    }
  }
}
